{% extends "layouts/layout.twig" %}

{% block content %}

<div class="row-fluid">
    <form method="POST" action="{{urlFor('website_add')}}" class="form-horizontal">
      <fieldset>
        <legend>Add Website</legend>
        <div class="control-group {% if errors.hasErrors('name') %}error{% endif %}">
          <label for="form-website-name" class="control-label required">Website Name</label>
          <div class="controls">
            <input type="text" class="span3" id="form-website-name" name="website[name]" value="{{website.name}}" required maxlength="100" />
            {% if errors.hasErrors('name') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('name')|join(' ')}}
              </div>
            {% endif %}
            <p class="help-block">The name of the website.</p>
          </div>
        </div>
        <div class="control-group {% if errors.hasErrors('domain') %}error{% endif %}">
          <label for="form-website-domain" class="control-label">Website Domain</label>
          <div class="controls">
            <input type="text" class="span2" id="form-website-domain" name="website[domain]" value="{{website.domain}}" placeholder="example.com" maxlength="100" />
            {% if errors.hasErrors('domain') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('domain')|join(' ')}}
              </div>
            {% endif %}
            <p class="help-block">The website domain.</p>
          </div>
        </div>
        <div class="control-group {% if errors.hasErrors('url') %}error{% endif %}">
          <label for="form-website-url" class="control-label">Website URL</label>
          <div class="controls">
            <input type="text" class="span4" id="form-website-url" name="website[url]" value="{{website.url}}" placeholder="http://www.example.com" maxlength="255" />
            {% if errors.hasErrors('url') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('url')|join(' ')}}
              </div>
            {% endif %}
            <p class="help-block">The full url of the website.</p>
          </div>
        </div>
        <div class="control-group {% if errors.hasErrors('notes') %}error{% endif %}">
          <label for="form-website-notes" class="control-label">Notes</label>
          <div class="controls">
            <textarea class="span4" rows="5" id="form-website-notes" name="website[notes]">{{website.notes}}</textarea>
            {% if errors.hasErrors('notes') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('notes')|join(' ')}}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Save" />
          <a class="btn" href="{{urlFor('home')}}">Cancel</a>
        </div>
      </fieldset>
      <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    </form>
</div>

{% endblock %}