{% extends "layouts/layout.twig" %}

{% block content %}
<div class="page-header">
  <h1>{{website['name']}}</h1>
</div>
<div class="alert alert-block alert-danger">
  <h4 class="alert-heading">Warning!</h4>
  This will delete the website and all data associated with it.<br>
  This action cannot be undone.
</div>

<div class="row-fluid">
    <form method="POST" action="{{urlFor('website_delete', {'id':website.id})}}" class="form-horizontal">
      <fieldset>
        <legend>Delete Website</legend>
        <div class="control-group">
          <label for="form-website-name" class="control-label">Website Name</label>
          <div class="controls">
            <span class="span3 uneditable-input" id="form-website-name">{{website.name}}</span>
            <p class="help-block">The name of the website.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-website-domain" class="control-label">Website Domain</label>
          <div class="controls">
            <span class="span2 uneditable-input" id="form-website-domain">{{website.domain}}</span>
            <p class="help-block">The website domain.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-website-url" class="control-label">Website URL</label>
          <div class="controls">
            <span class="span4 uneditable-input" id="form-website-url">{{website.url}}</span>
            <p class="help-block">The full url of the website.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-website-notes" class="control-label">Notes</label>
          <div class="controls">
            <div class="span4 uneditable-input" style="height:150px;" id="form-website-notes">{{website.notes}}</div>
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-danger" value="Delete" />
          <a class="btn" href="{{urlFor('website', {'id':website.id})}}">Cancel</a>
        </div>
      </fieldset>
      <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    </form>
</div>

{% endblock %}