{% extends "layouts/layout.twig" %}

{% block content %}
<div class="page-header">
  <h1>{{website.name}}</h1>
</div>

<div class="row-fluid">
  <div class="span4">
    <table id="website-details" class="table table-bordered">
      <tr>
        <th>Name</th>
        <td>{{website.name}}</td>
      </tr>
      {% if website.domain %}
        <tr>
          <th>Domain</th>
          <td>{{website.domain}}</td>
        </tr>
      {% endif %}
      {% if website.url %}
        <tr>
          <th>URL</th>
          <td>{{website.url}}</td>
        </tr>
      {% endif %}
      {% if website.notes %}
        <tr>
          <td colspan="2">{{website.notes|nl2br}}</td>
        </tr>
      {% endif %}
      <tr>
        <td colspan="2" style="text-align: center;">
          <a class="btn btn-info" href="{{urlFor('website_edit', {'id':website.id})}}">
            <i class="icon-pencil icon-white"></i>
            Edit
          </a>
          <a class="btn btn-danger" href="{{urlFor('website_delete', {'id':website.id})}}">
            <i class="icon-trash icon-white"></i>
            Delete
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<h2>FTP Info</h2>
<nav class="well">
  <a class="btn btn-success" href="{{urlFor('ftp_add', {'website_id':website.id})}}">
    <i class="icon-plus icon-white"></i>
    Add new FTP
  </a>
</nav>
{% if website.ftp %}
  <ul id="website-ftp" class="thumbnails">
    {% for row in website.ftp %}
      <li class="span4">
        <div class="thumbnail">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2" style="text-align: center;">FTP</th>
              </tr>
            </thead>
            {% if row.hostname %}
              <tr>
                <th>Hostname</th>
                <td>{{row.hostname}}</td>
              </tr>
            {% endif %}
            {% if row.username %}
              <tr>
                <th>Username</th>
                <td>{{row.username}}</td>
              </tr>
            {% endif %}
            {% if row.password %}
              <tr>
                <th>Password</th>
                <td>{{row.password}}</td>
              </tr>
            {% endif %}
            {% if row.path %}
              <tr>
                <th>Path</th>
                <td>{{row.path}}</td>
              </tr>
            {% endif %}
            {% if row.notes %}
              <tr>
                <td colspan="2">{{row.notes|nl2br}}</td>
              </tr>
            {% endif %}
            <tr>
              <td colspan="2" style="text-align: center;">
                <a class="btn btn-info" href="{{urlFor('ftp_edit', {'website_id':website.id,'id':row.id})}}">
                  <i class="icon-pencil icon-white"></i>
                  Edit
                </a>
                <a class="btn btn-danger" href="{{urlFor('ftp_delete', {'website_id':website.id,'id':row.id})}}">
                  <i class="icon-trash icon-white"></i>
                  Delete
                </a>
              </td>
            </tr>
          </table>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Database Credentials</h2>
<nav class="well">
  <a class="btn btn-success" href="{{urlFor('database_add', {'website_id':website.id})}}">
    <i class="icon-plus icon-white"></i>
    Add new Database
  </a>
</nav>
{% if website.database %}
  <ul id="website-database" class="thumbnails">
    {% for row in website.database %}
    <li class="span4">
      <div class="thumbnail">
        <table class="table">
          <thead>
          <tr>
            <th colspan="2" style="text-align: center;">Database Credentials</th>
          </tr>
          </thead>
          {% if row.hostname %}
          <tr>
            <th>Hostname</th>
            <td>{{row.hostname}}</td>
          </tr>
          {% endif %}
          {% if row.username %}
          <tr>
            <th>Username</th>
            <td>{{row.username}}</td>
          </tr>
          {% endif %}
          {% if row.password %}
          <tr>
            <th>Password</th>
            <td>{{row.password}}</td>
          </tr>
          {% endif %}
          {% if row.database %}
          <tr>
            <th>Database</th>
            <td>{{row.database}}</td>
          </tr>
          {% endif %}
          {% if row.url %}
          <tr>
            <th>URL</th>
            <td>{{row.url}}</td>
          </tr>
          {% endif %}
          {% if row.notes %}
          <tr>
            <td colspan="2">{{row.notes|nl2br}}</td>
          </tr>
          {% endif %}
          <tr>
            <td colspan="2" style="text-align: center;">
              <a class="btn btn-info" href="{{urlFor('database_edit', {'website_id':website.id,'id':row.id})}}">
                <i class="icon-pencil icon-white"></i>
                Edit
              </a>
              <a class="btn btn-danger" href="{{urlFor('database_delete', {'website_id':website.id,'id':row.id})}}">
                <i class="icon-trash icon-white"></i>
                Delete
              </a>
            </td>
          </tr>
        </table>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Admin Logins</h2>
<nav class="well">
  <a class="btn btn-success" href="{{urlFor('admin_add', {'website_id':website.id})}}">
    <i class="icon-plus icon-white"></i>
    Add new Admin Login
  </a>
</nav>
{% if website.admin %}
  <ul id="website-admin" class="thumbnails">
    {% for row in website.admin %}
    <li class="span4">
      <div class="thumbnail">
        <table class="table">
          <thead>
          <tr>
            <th colspan="2" style="text-align: center;">Admin Login</th>
          </tr>
          </thead>
          {% if row.username %}
            <tr>
              <th>Username</th>
              <td>{{row.username}}</td>
            </tr>
          {% endif %}
          {% if row.password %}
            <tr>
              <th>Password</th>
              <td>{{row.password}}</td>
            </tr>
          {% endif %}
          {% if row.url %}
            <tr>
              <th>URL</th>
              <td>{{row.url}}</td>
            </tr>
          {% endif %}
          {% if row.notes %}
            <tr>
              <td colspan="2">{{row.notes|nl2br}}</td>
            </tr>
          {% endif %}
          <tr>
            <td colspan="2" style="text-align: center;">
              <a class="btn btn-info" href="{{urlFor('admin_edit', {'website_id':website.id,'id':row.id})}}">
                <i class="icon-pencil icon-white"></i>
                Edit
              </a>
              <a class="btn btn-danger" href="{{urlFor('admin_delete', {'website_id':website.id,'id':row.id})}}">
                <i class="icon-trash icon-white"></i>
                Delete
              </a>
            </td>
          </tr>
        </table>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Control Panel Logins</h2>
<nav class="well">
  <a class="btn btn-success" href="{{urlFor('controlpanel_add', {'website_id':website.id})}}">
    <i class="icon-plus icon-white"></i>
    Add new Control Panel
  </a>
</nav>
{% if website.controlpanel %}
  <ul id="website-controlpanel" class="thumbnails">
    {% for row in website.controlpanel %}
    <li class="span4">
      <div class="thumbnail">
        <table class="table">
          <thead>
          <tr>
            <th colspan="2" style="text-align: center;">Control Panel Login</th>
          </tr>
          </thead>
          {% if row.username %}
            <tr>
              <th>Username</th>
              <td>{{row.username}}</td>
            </tr>
          {% endif %}
          {% if row.password %}
            <tr>
              <th>Password</th>
              <td>{{row.password}}</td>
            </tr>
          {% endif %}
          {% if row.url %}
            <tr>
              <th>URL</th>
              <td>{{row.url}}</td>
            </tr>
          {% endif %}
          {% if row.notes %}
            <tr>
              <td colspan="2">{{row.notes|nl2br}}</td>
            </tr>
          {% endif %}
          <tr>
            <td colspan="2" style="text-align: center;">
              <a class="btn btn-info" href="{{urlFor('controlpanel_edit', {'website_id':website.id,'id':row.id})}}">
                <i class="icon-pencil icon-white"></i>
                Edit
              </a>
              <a class="btn btn-danger" href="{{urlFor('controlpanel_delete', {'website_id':website.id,'id':row.id})}}">
                <i class="icon-trash icon-white"></i>
                Delete
              </a>
            </td>
          </tr>
        </table>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}