{% extends "layouts/layout.twig" %}

{% block content %}
<div class="page-header row-fluid">
  <h1>Websites</h1>
</div>

<div class="row-fluid hidden-phone">
  <form class="well form-search span12" method="get" action="{{urlFor('home')}}">
    <div class="control-group">
      <div class="controls">
        <div class="input-append">
          <input class="search-query" type="search" name="s" value="{{search}}" placeholder="Search" />
          <button type="submit" class="btn"><i class="icon-search"></i> Go</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row-fluid">
  <nav class="span12 well">
    <a class="btn btn-success" href="{{urlFor('website_add')}}">
      <i class="icon-plus icon-white"></i>
      Add new Website
    </a>
  </nav>
</div>

{% if websites %}
  <div class="row-fluid">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Website</th>
          <th>Domain</th>
          <th class="hidden-phone">Url</th>
        </tr>
      </thead>
      <tbody>
        {% for website in websites %}
          <tr>
            <td style="width:100px;">
              <a class="btn btn-info" href="{{urlFor('website', {'id': website.id})}}">
                <i class="icon-info-sign icon-white"></i>
                Details
              </a>
            </td>
            <td>{{website.name}}</td>
            <td>{{website.domain}}</td>
            <td class="hidden-phone">{{website.url}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'partials/pagination.twig' %}
  </div>
{% endif %}
{% endblock %}