{% extends "layouts/layout.twig" %}

{% block content %}
<div class="page-header">
  <h1>{{website.name}}</h1>
</div>
<div class="row-fluid">
    <form method="POST" action="{{urlFor('controlpanel_add', {'website_id': website.id})}}" class="form-horizontal">
      <fieldset>
        <legend>Add Control Panel Login</legend>
        <div class="control-group">
          <label for="form-controlpanel-name" class="control-label">Website</label>
          <div class="controls">
            <span class="span2 uneditable-input" id="form-controlpanel-name">{{website.name}}{% if website.domain %} ({{website.domain}}){% endif %}</span>
            <p class="help-block">The website the control panel login is for.</p>
          </div>
        </div>
        <div class="control-group {% if errors.hasErrors('username') %}error{% endif %}">
          <label for="form-controlpanel-username" class="control-label">Username</label>
          <div class="controls">
            <input type="text" class="span2" id="form-controlpanel-username" name="controlpanel[username]" value="{{results.username}}" maxlength="100" />
            {% if errors.hasErrors('username') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('username')|join(' ')}}
              </div>
            {% endif %}
            <p class="help-block">The control panel username.</p>
          </div>
        </div>
        <div class="control-group {% if errors.hasErrors('password') %}error{% endif %}">
          <label for="form-controlpanel-password" class="control-label">Password</label>
          <div class="controls">
            <input type="text" class="span2" id="form-controlpanel-password" name="controlpanel[password]" value="{{results.password}}" maxlength="100" />
            {% if errors.hasErrors('password') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('password')|join(' ')}}
              </div>
            {% endif %}
            <p class="help-block">The control panel password.</p>
          </div>
        </div>
        <div class="control-group {% if errors.hasErrors('url') %}error{% endif %}">
          <label for="form-controlpanel-url" class="control-label">Login URL</label>
          <div class="controls">
            <input type="text" class="span3" id="form-controlpanel-url" name="controlpanel[url]" value="{{results.url}}" maxlength="255" />
            {% if errors.hasErrors('url') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('url')|join(' ')}}
              </div>
            {% endif %}
            <p class="help-block">The url to the control panel.</p>
          </div>
        </div>
        <div class="control-group {% if errors.hasErrors('notes') %}error{% endif %}">
          <label for="form-controlpanel-notes" class="control-label">Notes</label>
          <div class="controls">
            <textarea class="span4" rows="5" id="form-controlpanel-notes" name="controlpanel[notes]">{{results.notes}}</textarea>
            {% if errors.hasErrors('notes') %}
              <div class="help-inline control-error">
                <i class="icon-exclamation-sign"></i>
                {{errors.getErrors('notes')|join(' ')}}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Save" />
          <a class="btn" href="{{urlFor('website', {"id":website.id})}}">Cancel</a>
        </div>
      </fieldset>
      <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    </form>
</div>

{% endblock %}