<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Password Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link href="/styles/styles.css" media="all" rel="stylesheet" type="text/css" />
    <!--[if IE 7]><link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome-ie7.min.css"><![endif]-->
    <!-- Scripts -->
    {% block head %}{% endblock %}
  </head>
  <body>
    <header id="main-header" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{urlFor('home')}}">
            Password Database
          </a>
          <form method="get" action="{{urlFor('home')}}" class="navbar-search pull-right">
            <input name="s" type="search" class="search-query" placeholder="Search">
          </form>
        </div>
      </div>
    </header>
    <section id="main-content" class="container-fluid">
      {% if flash %}
        <div class="flash-messages">
          {% for type, message in flash %}
            <div class="alert alert-{{type}}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% block content %}{% endblock %}
    </section>
    <footer id="main-footer" class="container-fluid">&copy; Copyright {{ "now"|date("Y") }}</footer>
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap-sass/js/bootstrap-alert.js"></script>
    {% block footer %}{% endblock %}
    <script type="text/javascript">window.onresize = function(){console.log(window.innerWidth);}</script>
  </body>
</html>