{% extends "layouts/layout.twig" %}

{% block content %}
<div class="page-header">
  <h1>{{website.name}}</h1>
</div>
<div class="alert alert-block alert-danger">
  <h4 class="alert-heading">Warning!</h4>
  This will delete these FTP credentials.<br>
  This action cannot be undone.
</div>
<div class="row-fluid">
    <form method="POST" action="{{urlFor('ftp_delete', {'website_id': website.id, 'id': results.id})}}" class="form-horizontal">
      <fieldset>
        <legend>Delete FTP Credentials</legend>
        <div class="control-group">
          <label for="form-ftp-domain" class="control-label">Website</label>
          <div class="controls">
            <span class="span2 uneditable-input" id="form-ftp-name">{{website.name}}{% if website.domain %} ({{website.domain}}){% endif %}</span>
            <p class="help-block">The website the FTP credentials are for.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-ftp-type" class="control-label required">FTP Type</label>
          <div class="controls">
            <span class="span1 uneditable-input" id="form-ftp-type">{{results.type|upper}}</span>
            <p class="help-block">The type of connection.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-ftp-hostname" class="control-label">Hostname</label>
          <div class="controls">
            <span class="span3 uneditable-input" id="form-ftp-hostname">{{results.hostname}}</span>
            <p class="help-block">The hostname of the FTP server.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-ftp-username" class="control-label">Username</label>
          <div class="controls">
            <span class="span2 uneditable-input" id="form-ftp-username">{{results.username}}</span>
            <p class="help-block">The FTP username.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-ftp-password" class="control-label">Password</label>
          <div class="controls">
            <span class="span2 uneditable-input" id="form-ftp-password">{{results.password}}</span>
            <p class="help-block">The FTP password.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-ftp-path" class="control-label">Server Path</label>
          <div class="controls">
            <span class="span3 uneditable-input" id="form-ftp-path">{{results.path}}</span>
            <p class="help-block">The FTP password.</p>
          </div>
        </div>
        <div class="control-group">
          <label for="form-ftp-notes" class="control-label">Notes</label>
          <div class="controls">
            <div class="span4 uneditable-input" style="height:150px;" id="form-ftp-notes">{{results.notes}}</div>
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-danger" value="Delete" />
          <a class="btn" href="{{urlFor('website', {"id":website.id})}}">Cancel</a>
        </div>
      </fieldset>
      <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}" />
    </form>
</div>

{% endblock %}